doctype 5
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/public/base.css")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js")
        
        block head

    body       
        .wrapper
        
            block body
